.header {
    width: 100%;
    background-color: #252525;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #efefef;

    &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__image {
            width: 40%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__text {
            width: 60%;

            &-title {
                font-size: 1.7rem;
                font-weight: 700;
            }

            &-subtitle {
                font-size: 1.2rem;
                font-weight: 500;
                margin: 1rem 0;
            }

            &-btn {
                width: 250px;
                height: 35px;
                border-radius: 18px;
                background-color: #efefef;
            }
        }
    }
}

// end header

.intro {
    padding: 5rem 0;
    background-color: #252525;

    &-title {
        font-size: 1.6rem;
        font-weight: 600;
        color: #252523;
        position: relative;
        text-align: center;
        text-transform: capitalize;

        &::before {
            position: absolute;
            content: '';
            width: 175px;
            height: 3px;
            background-color: #f0a500;
            bottom: 10%;
        }
    }
}

// end intro

.courses {
    padding: 5rem 0;

    &-title {
        font-size: 1.6rem;
        font-weight: 600;
        color: #252525;
        position: relative;
        text-align: center;

        &::before {
            position: absolute;
            content: '';
            width: 175px;
            height: 3px;
            background-color: #f0a500;
            bottom: 10%;
        }
    }

    &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        &__box {
            width: 400px;
            border-radius: .8rem;
            margin: 1rem 0;
            box-shadow: 2px 2px 10px #252525;

            img {
                width: 100%;
                border-top-right-radius: .5rem;
                border-top-left-radius: .5rem;
            }

            &-body {
                padding: 1rem .4rem;
                display: flex;
                flex-direction: column;

                &__name {
                    font-size: 1.5rem;
                    font-weight: 600;
                    margin-bottom: .8rem;
                }

                &__time {
                    font-size: 1.1rem;
                    font-weight: 400;
                }
            }

            &-footer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0.4rem;

                button {
                    width: 120px;
                    border-radius: .3rem;
                    background-color: #f0a500;
                    color: #252525;
                    border: none;
                    padding: .5rem .1rem;
                }

                &__price {
                    margin-right: 1rem;
                    font-size: 1.2rem;
                    font-weight: 600;
                    border-bottom: 2px solid #252525;
                }

            }
        }
    }
}

// end courses
.footer {
    background-color: #252525;
    padding: 2rem;

    &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__logo {
            margin: 0;
            font-size: 1.7rem;
            font-weight: 700;
            color: #efefef;

        }

        &__social {
            width: 170px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                text-decoration: none;
                color: #efefef;
                transition: color .4s ease-in-out;

                &:hover {
                    color: #f0a500;
                    transition: color .4s ease-in-out;

                }
            }
        }
    }
}

// end footer