.navbars {
    width: 100%;
    background-color: #252525;
    padding: 1.1rem;
    color: #F5F2E7;
    border-bottom: 4px solid #f0a500;


    &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            text-decoration: none;
            color: #efefef;
        }

        &__logo {
            font-size: 1.5rem;
            font-weight: 600;
            margin: 0;

            &:hover {
                color: #f0a500;
            }
        }

        &__links {
            width: 130px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                text-decoration: none;
                color: #efefef;
                font-size: 1.1rem;
                font-weight: 500;
                transition: color .4s ease-in-out;


                &:hover {
                    color: #f0a500;
                    transition: color .4s ease-in-out;
                }

                &.activeLinks {
                    color: #f0a500;
                }
            }

            &-online {
                color: #4E9F3D;
                background-color: #4E9F3D;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                opacity: 0;
                animation: showOn 1.7s 1s ease-out infinite;
            }

            &-logout {
                padding: .4rem 1rem;
                border: none;
                background-color: #efefef;
                color: #252525;
                border-radius: .5rem;
            }

        }
    }
}

@keyframes showOn {

    100% {
        opacity: 1;
    }
}